@import "tailwindcss";

@theme {
    --color-primary: #F97316;
    --color-primary-dark: #EA580C;
    --color-secondary: #FFD700;
    --color-background-light: #FFFBEB;
    --color-background-dark: #1C1917;
    --color-text-light: #57534E;
    --color-text-dark: #E7E5E4;

    /*--radius-default: 0.5rem;*/
}