---

import PhoneIcon from "../icons/PhoneIcon.astro";---

<footer class="bg-background-dark text-text-dark py-12">
    <div class="container mx-auto px-4 text-center">
        <div class="flex justify-center py-2.5"> <span class="text-primary"> <PhoneIcon/> </span> <span> +34 645 42 07 96 </span>  </div>
        <p>© 2025 IMKRA Chicken. Todos los derechos reservados.</p>
    </div>
</footer>